body, html {
	font-family: 'Titillium Web', sans-serif;
        background-color: #dedede;
	color: #940c99;
	margin: 0;
	padding: 0;
}

#header {
	position: fixed;
	right: 0;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #940c99;
}

nav {
	margin-left: -20px;
}

.navigation {
	list-style-type: none;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 100%;
}

.nav-link {
	text-decoration: none;
        list-style-type: none;
}
	

#slides {
	width: 250px;
	height: 250px;
}
