body, html {
        font-family: 'Titillium Web', sans-serif;
}

nav {
	background-color: #ea52f2;
}

li, a {
      text-decoration: none;
      list-style-type: none;
}

#slides {
	width: 250px;
	height: 250px;
}
