body {
  margin: 0 auto;
  font-family: 'Playfair Display', serif;
  background-color: #03202e;
  color: #fff;
}

body > * {
  box-sizing: border-box;
}

#navbar {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  width: 100%;
  height: 65px;
  background-color: #03202e;
}

#collapse-nav {
  position: absolute;
  flex-shrink: 0;
  order: 2;
  opacity: 0;
  width: 100vw;
  height: 0;
  background-color: #03202e;
  transition: all 0.45s ease-in;
  z-index: 10;
  overflow: hidden;
}

#collapse-nav:target {
  height: 100vh;
  opacity: 1;
}

#nav-menu {
  margin-top: 100px;
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style-type: none;
}

#nav-menu > * {
  padding: 15px 0;
}

.nav-link {
  font-size: 5em;
}

.social-link, .nav-link {
  text-decoration: none;
  color: #fff;
}

.social-link:hover, .nav-link:hover {
  text-decoration: underline;
}

.hamburger-group {
  position: absolute;
  top: 15px;
  left: 15px;
  order: 1;
  z-index: 1;
}

.hamgrp-two > .hamburger-icon:nth-child(1) {
  transform: rotate(45deg) translate(2px, 12px);
}

.hamgrp-two > .hamburger-icon:nth-child(2) {
  opacity: 0;
}

.hamgrp-two > .hamburger-icon:nth-child(3) {
  transform: rotate(-45deg) translate(2px, -12px);
}

.hamburger-icon {
  display: block;
  margin: 5px;
  border-radius: 4px;
  background-color: #fff;
  width: 35px;
  height: 5px;
  transition: 0.3s;
}

#welcome-section {
  padding-top: 7em;
  min-height: 100vh;
  width: 100%;
}

#dev-pic {
  display: block;
  margin: auto;
  border-radius: 50%;
  border: 2px solid #fff;
  max-width: 65%;
  height: auto;
}

#about-me {
  padding: 0 0.4em;
  font-size: 2em;
  line-height: 1.2em;
}

.section-header {
  font-size: 2em;
}

.section-header, .project-grid, .profile-list {
  padding: 0 30px;
}

#projects {
  padding: 40px 0;
}

.project-grid {
    display: grid;
    grid-gap: 20px;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
}

.project-tile {
  overflow: hidden;
  background-color: #081013;
}

.project-tile > a {
  text-decoration: none;
  color: #fff;
}

.project-pic {
  display: block;
  width: 100%;
  height: auto;
}

.project-pic, .wrapper-text {
  transition: all 0.5s;
}

.wrapper-text {
  text-align: center;
  opacity: 0;
}

.project-tile a:hover > .project-pic {
  transform: scale(1.07);
}

.project-tile a {
  display: block;
}

.project-tile a:hover > .wrapper-text {
  opacity: 1;
}

#contact {
  background-color: #1e1e1e;
}

#contact > .section-header {
  padding-top: 40px;
}

.profile-list {
  list-style-type: none;
  margin-bottom: 0;
  padding-bottom: 16px;
}

.social-link {
  line-height: 2;
  text-decoration: none;
}

@media (min-width: 1200px) {
  #navbar {
    overflow: hidden;
  }

  #welcome-section {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  #about-me{
    margin-top: 0;
    font-size: 4.5em;
  }

  .hamburger-link {
    display: none;
  }

  #collapse-nav {
    position: static;
    height: auto;
    opacity: 1;
    overflow: visible;
  }

  #nav-menu {
    margin-top: 0;
    flex-direction: row;
    justify-content: space-around;
  }

  .nav-link {
    font-size: 2.5em;
  }
}